html, body{
    background-color:#65788b;
    background:#65788b;
    color:#0082CB;
    margin:0;
}

.full-width{
   width:100%;
}

.mdl-layout__header-row{
    color:#EBEBEB;
}
.mdl-layout-title{
    color:#EBEBEB;
}


.search-title{
    color:#EBEBEB;
    padding-left:10px;
}
.search-icon{
    color:#EBEBEB;
}
.search-icon.md-button-focus .md-button-wrapper .material-icons{
     color:#2aa4c9;
}
.search-box{
   height:110px;
}

.search-box .md-input-table{
  font-size:2em;
}
.search-box .md-input-underline .md-input-ripple.md-focused{
  background-color:#2aa4c9;
}
.search-box .md-input-table .md-input-placeholder.md-focused{
   color:#2aa4c9;
}



.search-box .md-input-element{
  color:#EBEBEB;
  font-size:3em;
}

.app-base {
    padding: 0;
}

.app-base md-toolbar{
    background-color:#4e5d6c;
    background-image: linear-gradient(#4e5d6c, #65788b, 40%, #1c1c1c;);
    color: #2aa4c9;
}

.app-content md-card {
    margin: 10px;
}

.app-sidenav {
    padding: 10px;
    min-width: 100px;
}

.app-content md-checkbox {
    margin: 10px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: red;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-spinner {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.app-input-icon {
    font-size: 16px;
}

.app-list {
    border: 1px solid rgba(0,0,0,0.12);
    width: 350px;
    margin: 20px;
}

.app-progress {
    margin: 20px;
}

[md-toolbar]  {
    color: #3f51b5;
    background-color: #d50000;
}

md-toolbar {
    background-color: #d50000;
}